.column {
	border:solid 1px gray;
	min-height: 10px;
}
.portlet {
	padding: 0.3em;
	background: lightgreen;
}
.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
	border-radius: 3px;
	border: solid 1px;
}
.portlet-content {
	padding: 0.4em;
}
.portlet-placeholder {
	border: 1px dotted black;
	height: 50px !important;
	background: #eee;
}
.portlet-buttons{
	float: right;
	background: #777;
	padding: 5px 0;
	position: relative;
	bottom: 5px;
	left: 5px;
	z-index: 1;
}
.portlet-buttons>div{
	float: right;
	height: 16px;
	width: 16px;
	margin: 0 5px;
}
.portlet-button-move{
	background: url('../js/images/ui-icons_222222_256x240.png') 0px -80px;
	cursor: move;
}
.portlet-button-del{
	background: url('../js/images/ui-icons_222222_256x240.png') -176px -96px;
}